@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
     scroll-behavior: smooth;
}
* {
    margin: 0;
}

body {
    font-size: 1rem;
    line-height: 1.5;
    text-shadow: 1px 1px 1px rgba(212, 209, 209, 0.004);
}

/**TEXT STYLES & BUTTON STYLES**/

label, a, h2, h3, p {
    font-family: 'Raleway';
}

h1 {
    font-family: 'Redressed';
    color: white;
    font-weight: 100;
    font-size: clamp(2rem, 2.5rem, 4rem);
    line-height: 2rem;

}

h3 {
    color: #90652C;
    font-weight: bold;
}

h2 {
    text-align: center;
    color: #7c5420;
    font-weight: bold;
}

.title-section > p {
    text-align:  center;
}

a {
   color: inherit;
   text-decoration: none;
}

:is(.tagline-text h2) {
    font-family: 'Bebas Neue';
    color: white;
    line-height: 5rem;
    font-size: 4rem;
}

ul {
    list-style: none;
}

hr {
    width: 6%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: solid 1px #313B6C;
    box-shadow: 0 1px 1px rgb(155, 171, 160);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border: solid 1px #313B6C;
    background-color: white;
    font-weight: bold;
    color: #313B6C;
}

.btn:hover, .btn:focus {
    color: white;
    background-color:#313B6C;
    border: solid 0.5px white;
    transform: translate(0px, -2px);
    box-shadow: 0 5px 7px -5px rgb(138, 145, 141);
    transition: all .3s ease-out; 

}


/**HEADER**/

header {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-around;
    z-index: 10;  
}

header::before {
    content: "";
    position: absolute; 
    background-color: #313B6C;
    width: 100%;
    height: 66%;
    z-index: -1;
}

header img {
    width: auto;
    height: 50%;
    padding-top: 1.25em;
}

.toggle-menu {
    display: block;
    align-self: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#toggle-menu {
    display: none;
  }

#toggle-menu:hover ~ .toggle-menu,
#toggle-menu:checked ~ .toggle-menu {
    border-bottom: solid 1px white;
}

#toggle-menu:checked ~ .navbar {
    display: flex;
    color: #313B6C;
    
}

.navbar {
  display: none;
  position: absolute;
  width: 100%;
  height: 85vh;
  background-color: #ffe9ef;
  justify-content: center;
  align-items: center;
  z-index: -2;
  
  
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 2.5rem;
  }

.menu li {
    padding-top: 3rem;
}

a.nav-link:hover,
a.nav-link:active,
a.nav-link:focus {
    border-bottom: solid 1px #6b719c;
    font-weight: bold;
}

#spacer {
    width: 100%;
    height: 19vh;
}



/**TAGLINE**/

.tagline {
    background-image: url("https://rcminerva2394.github.io/product-landing-page/feature-pic1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tagline-text {
    text-align: center;
}


/**FEATURES**/

#features {
    background-color: #F3ECED;
    padding: clamp(1.5rem, 7vw, 4rem);
    
   
}

.feature-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.feature-content i {
    color: #313B6C;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-top: 2rem;

}

.feature-info {
    text-align: center;
}

:is(.feature-info) h3 {
    color: #90652C;
}


/**COLLECTIONS**/

#collections {
    padding: clamp(1.5rem, 7vw, 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin-bottom: 3rem;

}

figure {
    box-shadow:   0 5px 9px 5px rgb(138, 145, 141);

}

figure:hover {
    transform: translate(4px, -7px);
    transition: all .1s ease-in; 
}

figure img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    vertical-align: middle;

}

figcaption {
    width: 100%;
    border: solid 1px #90652C;
    background-color: #90652C;
    color: white;
    margin-top: -1px;
    text-align: center;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
    margin-left: -1px;
}

figcaption:hover, figcaption:focus {
    background-color: #313B6C;
    font-weight: bold;
    border: solid 1px #313B6C;
}

.collections {
    margin-top: 3rem;
}


/**JOIN THE BUSINESS REVOLUTION/VIDEO**/

#join {
    background-color: #FEECEF;
    padding: clamp(1.5rem, 7vw, 4rem);
}

.video  p {
    margin-bottom: 3rem;
}

.video-wrapper {
    overflow: hidden;
    /* 16:9 aspect ratio */
    padding-top: 56.25%;
    position: relative;
    width: 100%;
 
}

.video-wrapper iframe {
    border: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    
}




/**CONTACT**/
#contact {
    background-image: url("https://rcminerva2394.github.io/product-landing-page/last-pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    color: white;
   padding-top: clamp(1.5rem, 7vw, 4rem);
}

:is(.contact) h2, h3 {
    color: white;
    
}

.contact-info {
    padding-left: clamp(1.5rem, 7vw, 4rem);
    padding-bottom: clamp(1.5rem, 7vw, 4rem);
    padding-top: 2rem;
    line-height: 2rem;
    padding-right: clamp(1.5rem, 7vw, 4rem);
}

.contact h3 {
    padding-top: 1rem;
    border: solid 1px black;
    background-color: black;
    padding: 0.25em 0.5em;
    display: inline-block;
}

.contact form {
    margin-bottom: 2rem;
}

form {
    display: flex;
    margin-top: 0.5rem;
    padding-right: 50%;
}

input {
    padding: 0.75em;
    border: 1px solid black;
    accent-color: #8391d3;

}

form input:first-child {
    flex: 1 0 80%;
    background-color: #FEECEF;
}

form input:last-child {
    flex: 1 0 20%;
    background-color: #d4ad7b;
    cursor: pointer; 
    transition: all .25s ease;
    border-left: 0;
}

#submit:hover {
    background-color: #313B6C;
    color: white;
}

.contact i {
    margin-right: 1rem;
}


footer {
    background-color: #313B6C;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-self: center;
    font-size: 0.75rem;
    padding: 0.15rem;
    
}

footer a:hover {
    text-decoration: underline;
    font-weight: bold;
}



/**MEDIA QUERIES**/

@media (min-width: 320px) and (max-width: 600px){

   
     header {
         display: flex;
         justify-content: space-between;
     }

     header img {
         height: 40%;
         padding-top: 2rem;

         
     }
     
     .toggle-menu {
        margin-left: -15rem;
        margin-right: 1rem;

     }

     .navbar {
        box-shadow: 5px 20px 35px 8px rgba(49, 77, 92, 0.9);
    }
  
 

    .video-wrapper {
        margin-bottom: 2rem;
    }

    form {
        padding-right: 20%;
    }

    #contact {
        background-image: url("https://rcminerva2394.github.io/product-landing-page/last-pic.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

    }
}

@media (min-width: 601px) and (max-width: 849px) {
    
    .navbar {
        box-shadow: 5px 20px 35px 8px rgba(50, 52, 53, 0.9);
    }
    
    header img {
        margin-top: 0.25rem;
    }

    .toggle-menu {
        margin-top: 1rem;
    }

    h1 {
        font-size: 3.75rem;
    }
    :is(.tagline-text h2) {
        font-size: 5rem;
        line-height: 7rem;

    }
  
   .tagline {
    background-image: url("https://rcminerva2394.github.io/product-landing-page/feature-pic1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 180vh;
  }


    .feature-content {
        margin-left: 7rem;
        margin-right: 7rem;
    }

    figure img {
        width: 100%;
        height: 450px;
        object-fit: cover;
        vertical-align: middle;
    }

    .video-wrapper {
        margin-bottom: 2rem;
    }

}

@media (min-width: 850px) {

    /**HEADER**/

    .toggle-menu {
        display: none;
    }

    .navbar {
        position: relative;
        z-index: 2;
        display: flex;
        background-color: transparent;
        height: auto;
        width: auto;

    }

    .menu {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin-left: -8rem;

    }
 
    .menu li {
        padding-right: 1rem;
        padding-bottom: 4rem;
        color: white;
    }

    header img {
        padding-top: 1.5em;
    }

    a.nav-link:hover,
    a.nav-link:active,
    a.nav-link:focus {
    border-bottom: solid 1px white;
    font-weight: bold; 
    }

    /**TAGLINE**/
    .tagline {
        background-image: url("https://rcminerva2394.github.io/product-landing-page/feature-pic2.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 80vh;
    }

    h1 {
        font-size: 4rem;
        margin-bottom: 1rem;
    }

    /**FEATURES**/
    .feature-content {
        display: grid;
        grid-auto-flow: column;
        gap: 3em;
        margin-left: 4rem;
        margin-right: 4rem;
    }

    /**COLLECTIONS**/

    figure img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        vertical-align: middle;
    }

    .row-wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-left: 6rem;
        margin-right: 6rem;

    }

    /**VIDEO**/
    .video {
        margin-left: 5rem;
        margin-right: 5rem;
        margin-bottom: -5rem;
    }

    .video-wrapper {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
    .video-wrapper iframe {
        height: 70%;
        width: 70%;
        padding-left: 7.5rem;

    }

}
